

<div class="panel panel-default semitrans">
	<div class="panel-heading">
		<div class="panel-title">
			<h1><%= @trip.name %></h1>
		</div>
	</div>

	<div class="panel-body">
		<p>
			<strong>Location:</strong>
			<%= @trip.location %>
		</p>

		<p>
		  <strong>Started on:</strong>
		  <%= @trip.starts_on.strftime("%B #{@trip.starts_on.day.ordinalize}, %Y") %>
		</p>

		<p>
			<strong>Ended on:</strong>
			<%= @trip.ends_on.strftime("%B #{@trip.ends_on.day.ordinalize}, %Y") %>
		</p>


		<p>
			<strong>Duration:</strong>
			<%= distance_of_time_in_words(@trip.starts_on, @trip.ends_on) %>
		</p>


		<% if @trip.user == current_user %>
			<%= link_to 'Edit', edit_trip_path(@trip) %> |
			<%= link_to 'Back', trips_path %>
		<% end %>
		
	</div>
</div>


