<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Listing Users</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Avatar</th>
          <th>Follow</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= holder_tag'65x65' %></td>
            <% unless user == current_user %>
              <% if current_user.follows?(user) %>
                <td><%= link_to 'Unfollow', user_unfollow_path(user), method: :post, class: "btn btn-primary" %></td>
              <% else %>
                <td><%= link_to 'Follow', user_follow_path(user), method: :post, class: "btn btn-primary" %></td>
              <% end %>
            <% else %>
              <td></td>
            <% end %>
            <!--<td><%= image_tag user.avatar.url(:thumb) %></td>-->
         
            <td><%= link_to 'Show', user %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
</div>
